<template>
    <b-row class="h-100">
        <b-col cols="8" class="h-100">
            <b-card header="Conversación activa"
                    header-text-variant="white"
                    header-tag="header"
                    header-bg-variant="dark"
                    footer-bg-variant="light"
                    footer-border-variant="dark"
                    class="h-100"
                    id="active-conversation"
            >

                <message-conversation-component
                        v-if="true"
                    v-for="message in messages"
                    :key="message.id"
                    :user-is-sender="message.user_is_sender"
                    :id="'message-'+message.id"
                    :look-for="'message-'+message.id"
                    :image="message.user_is_sender ? userImage : contactImage"

                >
                    {{ message.content }}
                    <p class="small mb-0 format-me text-right">
                        {{ message.created_at }}
                    </p>
                </message-conversation-component>

                <b-progress v-else :value="100" variant="info" striped :animated="true" class="mb-2"></b-progress>


                <div slot="footer">
                    <b-form class="m-2" @submit.prevent="postMessage" autocomplete="off">
                        <b-input-group>
                            <b-form-input
                                    type="text"
                                    placeholder="Escribe tu mensaje..."
                                    id="message"
                                    v-model="actualMessage"
                            >
                            </b-form-input>
                            <b-input-group-append>
                                <b-button type="submit" variant="info">Enviar</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form>
                </div>
            </b-card>
        </b-col>
        <b-col cols="4">
            <b-img rounded="circle" :src="contactImage" width="64" height="64" alt="img" class="m-1"> </b-img>
            <p>{{ contactName }}</p>
            <hr>
            <b-form-checkbox>
                Silenciar usuario
            </b-form-checkbox>
        </b-col>
    </b-row>
</template>

<script>
    export default {
        props: {
            contactId: Number,
            contactName: String,
            messages: Array,
            contactImage: String,
            userImage: String
        },
        data() {
            return {
                actualMessage: '',
            }
        },
        updated() {
            this.scrollToBottom();
        },
        methods: {
            scrollToBottom() {
                const cardBody = document.getElementById('active-conversation').querySelector('.card-body');
                cardBody.scrollTop = cardBody.scrollHeight
            },
            postMessage(e) {

                if (this.actualMessage) {

                    const params = {
                        to: this.contactId,
                        content: this.actualMessage,
                    };

                    fetch('/api/messages', {
                        credentials: 'same-origin',
                        method: 'POST',
                        body: JSON.stringify(params),
                        headers: {
                            'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(data => data.json())
                        .then(response => {
                            if (response.success) {
                                this.actualMessage = '';
                                this.$emit('MESSAGE_CREATED', response.message);
                            }
                        })
                }

            }
        }
    }
</script>

<style scoped>
    #active-conversation .card-body {
        overflow: auto;
    }
</style>