<template>
    <b-list-group-item :variant="variant" :id="'contact-'+conversation.id">
        <b-row class="mt-2 lg" align-h="center">
            <b-col cols="12" md="2" class="text-center">
                <b-img rounded="circle" :src="conversation.contact_image"  width="50" height="50"  alt="img" class="m-1" />
            </b-col>

            <b-col cols="10" align-self="center" class="d-none d-md-block">
                <p class="mb-1 font-weight-bold">
                    <status-component :online="conversation.online" />
                    {{ this.conversation.contact_name }}
                </p>
                <p class="text-muted small mb-0">{{ this.conversation.last_message }} <span class="text-info">({{ lastTime }})</span></p>
            </b-col>

        </b-row>
    </b-list-group-item>
</template>

<script>
    import StatusComponent from "./StatusComponent";

    export default {
        components: {StatusComponent},
        props: {
            conversation: Object,
            isConnected: Boolean,
            selected: Boolean
        },
        computed: {
            lastTime() {
                return (this.conversation.last_date) ? moment(this.conversation.last_date, 'YYYY-MM-DD hh:mm:ss').fromNow() : '';
            },
            variant() {
                return this.selected ? 'info' : '';
            }
        }
    }
</script>
