<template>
    <b-container class="h-100" fluid>
        <b-row class="h-100">
            <b-col cols="3" >
                <b-form class="m-2">
                    <b-form-input
                            class="text-center"
                            type="text"
                            placeholder="Buscar contacto..."
                            v-model="filter"
                    >
                    </b-form-input>
                </b-form>
                <contact-list-component
                        id="contact-list"
                        :conversations="filteredConversations"
                        @CONVERSATION_SELECTED="changeActiveConversation($event)"
                />
            </b-col>
            <b-col cols="9" class="h-100">
                <active-chat-component
                        v-if="selectedConversation"
                        :contact-id="selectedConversation.contact_id"
                        :contact-name="selectedConversation.contact_name"
                        :contact-image="selectedConversation.contact_image"
                        :user-image="userImage"
                        :messages="messages"
                        @MESSAGE_CREATED="addMessage($event)"
                />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
    export default {
        props: {
            user: Object
        },
        data() {
            return {
                selectedConversation: null,
                messages: [],
                conversations: [],
                filter: ''
            }
        },
        computed: {
            filteredConversations() {
                return this.conversations.filter(conversation => {
                    return conversation.contact_name.toLowerCase().includes(this.filter.toLowerCase())
                });
            },
            userImage() {
                return `/users/${this.user.image}`;
            }
        },
        mounted() {
            this.getConversations();
            console.log(this.user);
            Echo.private(`users.${this.user.id}`)
                .listen('MessageSent', data => {
                    const message = data.message;
                    this.addMessage(message);
                    this.playNotificationSound();
                });
            Echo.join(`messenger`)
                .here(users => {
                    this.updateAllConversations(users);

                })
                .joining(user => {
                    this.updateConversation(user)
                })
                .leaving(user => {
                    this.updateConversation(user)

                })
        },
        methods: {
            playNotificationSound() {
                const path = '/sounds/notification.mp3';
                const audio = new Audio(path);
                audio.play();
            },
            updateAllConversations(users) {
                this.conversations.map((conversation, index, array) => {
                    users.map(user => {
                        if (user.id === conversation.contact_id) {
                            this.$set(array[index], 'online', true);
                        }
                    })
                });
            },
            updateConversation(user) {
                console.log(`updating online user ${user.id}`)
                this.conversations.map((conversation, index, array)=> {
                    if (conversation.contact_id === user.id) {
                        this.$set(array[index], 'online', !array[index].online);
                        console.log(`${array[index].id} is ${array[index].online ? 'online' : 'offline'}`);
                    }
                });
            },
            getConversations() {
                fetch('/api/conversations/', {
                    credentials: 'same-origin'
                })
                    .then(res => res.json())
                    .then(data => {
                        this.conversations = data;
                    })
            },
            changeActiveConversation(conversation) {
                this.selectedConversation = conversation;

                let conversationNodes = document.querySelectorAll('#contact-list > .list-group > .list-group-item');

                conversationNodes.forEach(conversation => {
                    if (this.selectedConversation.id == conversation.id.split('-')[1]) {
                        conversation.classList.add('list-group-item-info');
                    } else {
                        conversation.classList.remove('list-group-item-info');
                    }
                });
                this.getMessages();
            },
            addMessage(message) {

                message.user_is_sender = (this.user.id === message.from_id);

                const conversation = this.conversations.find((conversation) => {
                    return conversation.contact_id == message.from_id || conversation.contact_id == message.to_id;
                });

                let author = (this.user.id === message.from_id) ? 'Tú' : conversation.contact_name

                conversation.last_message = `${author}: ${message.content}`;
                conversation.last_date = message.created_at;

                if (this.selectedConversation.contact_id == message.from_id || this.selectedConversation.contact_id == message.to_id) {
                    this.messages.push(message);
                }

            },
            getMessages() {
                fetch(`/api/messages?cid=${this.selectedConversation.contact_id}`, {
                    credentials: 'same-origin'
                })
                    .then(data => data.json())
                    .then(response => {
                        this.messages = response;
                    })
            }
        }
    }
</script>

<style scoped>

</style>