<template>
    <b-media :right-align="userIsSender" vertical-align="center" class="mb-2">
        <b-img slot="aside" :src="image" width="80" height="80" rounded="circle" alt="placeholder" />
        <b-card :bg-variant="variant" :text-variant="textVariant">
            <slot></slot>
        </b-card>
    </b-media>
</template>

<script>
    export default {
        props: {
            userIsSender: Boolean,
            lookFor: String,
            image: String,
        },
        mounted() {
            const el = document.getElementById(this.lookFor).querySelector('.format-me');
            const time = el.innerHTML.trim().split(' ');
            el.innerHTML = time[1];
        },
        computed: {
            variant() {
                return this.userIsSender ? 'info' : '';
            },
            textVariant() {
                return this.userIsSender ? 'light' : 'dark';
            }
        }
    }
</script>

<style scoped>

</style>