<template>
    <b-container>
        <b-form method="POST" enctype="multipart/form-data" v-if="show">
            <input type="hidden" name="_token" v-model="csrfToken">
            <b-form-group label="Correo electrónico:"
                          description="El correo electrónico no se puede cambiar.">
                <b-form-input id="email"
                              type="email"
                              name="email"
                              v-model="user.email"
                              readonly
                              required
                              >
                </b-form-input>
            </b-form-group>
            <b-form-group id="name"
                          label="Tu nombre:"
                          label-for="name">
                <b-form-input id="name"
                              type="text"
                              name="name"
                              v-model="user.name"
                              required
                              placeholder="p.e. Juan">
                </b-form-input>
            </b-form-group>

            <b-form-group id="password"
                          label="Nueva contraseña:"
                          description="Este campo es opcional."
                          label-for="password"
                          placeholder="Escribe tu nueva contraseña">
                <b-form-input id="password"
                              type="password"
                              name="password"
                              v-model="password"
                              >
                </b-form-input>
            </b-form-group>



            <b-form-group label="Imagen de perfil:"
                          description="Este campo es opcional."
                          >
                <b-img :src="`/users/${user.image}`" rounded="circle" width="128" height="128" :alt="`Imagen de ${user.name}`" class="m-1" />
                <b-form-file v-model="avatar" name="avatar" :state="Boolean(avatar)" accept="image/jpeg, image/png, image/gif" placeholder="Selecciona un archivo..."></b-form-file>
            </b-form-group>



            <b-button type="submit"  variant="primary">Actualizar perfil</b-button>
        </b-form>
    </b-container>
</template>

<script>
    export default {
        props: {
            user: Object,
            csrfToken: String
        },
        data () {
            return {
                show: true,
                password: null,
                avatar: null
            }
        },
        mounted() {
            console.log(this.user)
        }
    }
</script>
