<template>
    <b-img
            rounded="circle"
            blank width="16"
            height="16"
            :blank-color="online ? '#17b961' : '#777'"
            alt="img"
            class="mb-1"
            :title="online ? 'Conectado' : 'Desconectado'"
    />
</template>

<script>
    export default {
        props: {
            online: Boolean
        }
    }
</script>